.row
  .col-md-4
    .panel.panel-primary.search-box
  .col-md-8
    .panel.panel-default.featured-image

.row.clearfix
  .col-md-3
    .panel.panel-default.normal-image
  .col-md-3
    .panel.panel-default.normal-image
  .col-md-3
    .panel.panel-default.normal-image
  .col-md-3
    .panel.panel-default.normal-image

.row.clearfix
  .col-md-3
    .panel.panel-default.normal-image
  .col-md-3
    .panel.panel-default.normal-image
  .col-md-3
    .panel.panel-default.normal-image
  .col-md-3
    .panel.panel-default.normal-image