/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require_self
*/

$eggshell: #FFF1E1;
$pretty-blue: #97B2CC;
$accent-blue: #236CB2;
/***** Nav *****/

.menu {
  background: $pretty-blue;
  border-bottom: 2px solid $accent-blue;
}

/***** Layout *****/

.container {
  padding-top: 10px;
}

.content {
  min-height: 100%;
  height: auto;
}

/***** Home *****/

.featured-image {
  height: 300px;
}

.normal-image {
  height: 150px;
}

.search-box {
  height: 300px;
  background: $accent-blue;
}

/***** Images *****/
.boat-thumbnail {
  border-radius: 40px 5px 40px 5px;
}

/***** Boat Index *****/
.boat-index {
  p {
    padding: 0;
    margin: 0;
  }
}
.boat-profile {
  padding-bottom: 15px;
}
/***** Footer *****/

.footer {
  padding: 1rem;
  width: 100%;
  height: 150px;
  background: #97B2CC;
  border-top: 2px solid $accent-blue;
}

.footer p {
  color: $pretty-blue;
  font-size: 0.9em;
  margin-bottom: 3px;
}
