= render partial: 'layouts/head'
= render partial: 'layouts/nav'
  
%body
  .container
    / = render "flashes"
    .content
      = yield
    / = render "javascript"
  = render partial: 'layouts/footer'